@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-pri-700 antialiased;
}

nav {
    @apply rounded-full p-1 border-pri-50 ring-1 ring-pri-50 bg-white shadow-lg;
}

.NavList li {
    @apply bg-pri-0 rounded-full border border-pri-50 p-3.5 cursor-pointer hover:shadow-is1;
}

.NavList li * {
    @apply text-pri-400;
}

.scroller {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.scroller[data-animated="true"] {
    opacity: 1;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}